<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body class="text-center pt-20 md:pt-16">
    <%- include ('./partials/header.ejs') %>

<div class="flex justify-center items-center flex-wrap mx-auto dark:bg-gray-800"">
    <% for(let i = 0; i < teams.length; i++) { %>
        <a href="/teams/<%= teams[i]._id %>" class="m-2"> 
            <img src="<%= teams[i].img %>" alt="<%= teams[i].name %>" class="w-[400px] h-[400px] object-cover border-solid border-4 border-red-500" id="card-image-hover"/>
        </a>
    <% } %>
</div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
