<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body style="padding-top: 70px;">
    <%- include ("./partials/header.ejs") %>

    <h1 class="font-bold underline text-center"> <%=team.name.toUpperCase() %> </h1>
    
    <div>
        <div>
            <div>
                <div>
                    <div class="text-center underline text-red-500">
                        Roster:
                    </div>
                    <ul class="text-center">
                    <% team.roster.forEach(player => { %>
                        <li><%= player %></li>  
                    <% }) %>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <% team.upcomingGames.forEach(game => { %>
                        <div>
                            <div class="text-center">
                                <h5>Upcoming Game</h5>
                                <p><%= game %></p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="text-center">
                <div>
                    <div class="text-center" id="seasonStats"></div>
                        Season Stats:
                    </div>
                    <div class="text-center">
                        <ul>
                            <li>Team wins: <%= team.wins %></li>
                            <li>Team losses: <%= team.losses %></li> 
                            <li>Highest Scorer: <%= team.highestScorer %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center bg-red-500">
        <form method="POST" action="/teams/<%= team.id %>?_method=DELETE" >
            <input
            class="btn btn-danger"
            type="submit" value="DELETE"/>
        </form>

        <a href='/teams' >Back</a>
    </div>

    <%- include ("./partials/footer.ejs") %>
</body>
</html>
