<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body class="pt-20 md:pt-16bg-gray-100 min-h-screen">
    <%- include("./partials/header.ejs") %>

    <div class="text-center mb-4">
        <h2 class="font-bold underline text-3x1"> <%=team.name.toUpperCase()%> </h2>
    </div>

    <div class="flex flex-wrap md:flex-nowrap justify-center md:justify-start">
        <!-- Roster Container -->
        <div class="md:w-1/4 p-4 bg-white shadow-md rounded-lg">
            <div class="underline text-red-500 mb-2">
                Roster:
            </div>
            <ul class="list-disc pl-5">
                <% team.roster.forEach(player => { %>
                <li><%= player %></li>
                <% }) %>
            </ul>
        </div>

        <!-- Season Stats and Upcoming Games Container -->
        <div class="md:flex-1 p-4">
            <!-- Season Stats -->
            <div class="flex justify-around bg-white shadow-md rounded-lg mb-4 p-4">
                <div>Team wins: <%= team.wins %></div>
                <div>Team losses: <%= team.losses %></div>
                <div>Highest Scorer: <%= team.highestScorer %></div>
            </div>

            <!-- Upcoming Games in a 2x2 grid -->
            <div class="grid grid-cols-2 gap-4">
                <% team.upcomingGames.forEach(game => { %>
                <div class="text-center bg-white shadow-md rounded-lg p-4">
                    <h5>Upcoming Game</h5>
                    <p><%= game %></p>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="text-center bg-red-500 p-4 mt-4 rounded-lg">
        <form method="POST" action="/teams/<%= team.id %>?_method=DELETE">
            <input class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 rounded cursor-pointer" type="submit" value="DELETE" />
        </form>
        <a href='/teams' class="text-white">Back</a>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>
